<%= form_with(model: tweet, local: true) do |form| %>
  <% if tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
      <% tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  

  <div class="field container  ">
    <%= form.label :content %>
    <%= form.text_area :content, size: "50x4", :class=>"align-middle mx-5"  %>
    <%= form.submit %>
  </div>

 


<% end %>
