


<% if user_signed_in? %>
    <%= render "form", tweet: @tweet %>
<%end %>
     

<h1>Tweets</h1>


<% @tweets.each do |tw|  %>
 <div class="card mb-3">
  <img src="<%= tw.user.image %>" class="img-thumbnail", width="100" > 
  <div class="card-body">
  <%if user_signed_in? %>
    <h5 class="card-title"><%= tw.user.name %></h5>
  <%end %>
    <p class="card-text"><%= tw.content %></p>
    <% if tw.original != "" %>
        <p class="card-text text-muted"><%= tw.original %></p>
    <%end %>
    <%= link_to 'retweet', retweet_tweet_path(tw) %> <br>
    <%= link_to "LIKES #{tw.likes.count}", root_path %>
 
    
    <%= link_to time_ago_in_words(tw.created_at), tweet_path(tw), :class=>"text-muted" %>
  </div>
</div>
<%end %>

<%= paginate @tweets%>

