


<% if user_signed_in? %>
    <%= render "form", tweet: @tweet %>
<%end %>
     

<h1 class="text-white">Tweets</h1>


<% @tweets.each do |tw|  %>


  <div class="card mb-3">
      <img src="<%= tw.user.image %>" class="img-thumbnail", width="100" > 
      <div class="card-body">
      <%if user_signed_in? %>
        <h5 class="card-title text-uppercase"><%= tw.user.name %></h5>
      <%end %>
        <p class="card-text"><%= tw.content %></p>
        <% if tw.original != "" %>
            <p class="card-text text-muted"><%= tw.original %></p>
        <%end %>
        

        <p>likes  <%= like_count(tw) %></p>
        <p>rt <%=rt_count(tw)%></p>

        <div class="">
            <% if user_signed_in? && !Like.find_by(tweet_id: tw.id, user_id: current_user.id)%>

                <%= link_to "like", likes_path(current_user.id, tw.id), :class=>"btn btn-primary" %>
                <%= link_to 'retweet', retweet_tweet_path(tw.id), :class=>"btn btn-info" %> 
            
            <%elsif user_signed_in? %>

                <%= link_to "dislike", likes_destroy_path(current_user.id, tw.id), method: :delete, :class=>"btn btn-danger" %>
                <%= link_to 'retweet', retweet_tweet_path(tw.id), :class=>"btn btn-info" %> 
                

            <% end %>   
          
            <% if user_signed_in? && tw.user_id == current_user.id %>
              <%= link_to 'delete', tw, method: :delete, :class=>"btn btn-warning" %>
            
            <% end %>   

            <% if user_signed_in? && current_user.id != tw.user_id %>
                <%= link_to 'follow', friends_follow_path(current_user.id, tw.user_id), :class=>"btn btn-success" %> 
              
            <% end %>

        </div>

          
          
          
        <br>
      
    
        
        <%= link_to time_ago_in_words(tw.created_at), tweet_path(tw), :class=>"text-muted" %>
      </div>
  </div>
<%end %>

<div>
  <%= link_to_next_page @tweets, 'mostrar más tweets', :class=>"text-white"%> <br>
  <%= link_to_previous_page @tweets, 'retroceder', :class=>"text-white" %>

</div>

