<p id="notice"><%= notice %></p>

 <div class="card mb-3">
    <img src="<%= @tweet.user.image %>" class="img-thumbnail", width="200" > 
    <div class="card-body">
      <h5 class="card-title"><%= @tweet.user.name %></h5>
      <p class="card-text"><%= @tweet.content %></p>
      <% if @tweet.original != "" %>
          <p class="card-text text-muted"><%= @tweet.original %></p>
      <%end %>
      

      <%= link_to time_ago_in_words(@tweet.created_at), :class=>"text-muted" %>
    </div>
  </div>


<%= link_to 'Edit', edit_tweet_path(@tweet) %> |
<%= link_to 'Back', tweets_path %>
