<p id="notice"><%= notice %></p>

 <div class="card mb-3">
    <img src="<%= @tweet.user.image %>" class="img-thumbnail", width="200" > 
    <div class="card-body">
      <h5 class="card-title"><%= @tweet.user.name %></h5>
      <p class="card-text"><%= @tweet.content %></p>
      <p>likes  <%= like_count(@tweet) %></p>
      <p>rt <%=rt_count(@tweet)%></p>
      <% if @tweet.original != "" %>
          <p class="card-text text-muted"><%= @tweet.original %></p>
      <%end %>

       <% if user_signed_in? && !Like.find_by(tweet_id: @tweet.id, user_id: current_user.id)%>

            <%= link_to "like", likes_path(current_user.id, @tweet.id), :class=>"btn btn-primary" %>
            <%= link_to 'retweet', retweet_tweet_path(tw.id), :class=>"btn btn-info" %> 
        
        <%elsif user_signed_in? %>

            <%= link_to "dislike", likes_destroy_path(current_user.id, @tweet.id), method: :delete, :class=>"btn btn-danger" %>
            <%= link_to 'retweet', retweet_tweet_path(tw.id), :class=>"btn btn-info" %> 

        <% end %>   
       
        <% if user_signed_in? && @tweet.user_id == current_user.id %>
          <%= link_to 'delete', @tweet, method: :delete, :class=>"btn btn-warning" %>
        
        <% end %>  
    </div>
  </div>


<%= link_to 'Edit', edit_tweet_path(@tweet) %> |
<%= link_to 'Back', tweets_path %> <br>
<br>


<h4>LIKES</h4>
<% @likes.each do |like| %>
   <div class="card mb-3">
   
    <img src="<%= like.user.image %>" class="img-thumbnail", width="100" > 
  
    <div class="card-body">
      <% if user_signed_in? %>
        <h5 class="card-title"><%= like.user.name%></h5>
      <%end %>
      <p class="card-text"><%=  %></p>
  </div>
  </div>
      

<%end %>
